.SCTR-init{
  opacity: 0;
}

.SCTR-test {
  animation: SCTR-test 1.4s;
}

@keyframes SCTR-test {
  from {
    opacity: 0;
    transform: translateX(-9999px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.SCTR-fade-in {
  animation: SCTR-fade-in 1.4s;
}

@keyframes SCTR-fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
