body{
  margin: 0;
  padding: 0;
}
.full-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1{
  background-color: #2ecc71;
}
#page2{
  background-color: #3498db;
  
}
#page3{
  background-color: #9b59b6;
  
}
#page4{
  background-color: #34495e;
  
}
#page5{
  background-color: #e74c3c;
  
}

h1{
  color: white;
  font-size: 35px;
}

h2{
  color: white;
  font-size: 35px;
  padding: 5px;
}
